<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %highlight(%-5level) [%X{requestId:-}] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Logger raíz -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- Logger específico de tu app en DEBUG, sin propagación al root -->
    <logger name="com.ingsisteam.permissionservice" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

</configuration>
